@using SportStore.Infrastructure
@model CartBase

<div>
    @if (Model.CartLines.Any())
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.CartLines.Sum(x => x.Quantity) item(s)
            Total: @Model.ComputeTotalValue().ToString("C")
            
        </small>
    }
</div>
