@using SportStore.Infrastructure
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width", initial-scale="1.0" />
    <title>@ViewBag.Title - Sport Store Application</title>
    <link rel="stylesheet" href="lib/twitter-bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="lib/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Store" asp-action="Index">Sport Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <div id="cartSummary">
                    <vc:cart-summary></vc:cart-summary>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="row m-1 p-1">
    <div id="categories" class="col-10">
        <vc:navigation-menu></vc:navigation-menu>
    </div>
</div>
<div class="container pb-3">
    <main>
        @RenderBody()
    </main>
</div>
<footer class="border-top modal-footer text-muted">
    <div class="container">
        &copy; 2021 SportStore <a asp-controller="Store" asp-action="Privacy">Privacy</a>
    </div>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("script", required: false)
</footer>
</body>
</html>
